<div class="row" xmlns="http://www.w3.org/1999/html">
    <div class="btn-group pull-right">
    <span class="btn btn-default btn-file">
        <i class="fa fa-folder-open"></i> Load <input type="file" id="imageLoader" ng-model="photo"
                                                      onchange="angular.element(this).scope().fileChanged(this)"
                                                      accept="image/*"/>
    </span>
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-picture-o "></i> From samples <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li ng-repeat="sample in samples">
                    <a ng-click="load('assets/images/samples/' + sample + '.png')">
                        <img ng-src="assets/images/samples/{{sample}}_thumbnail.png">
                    </a>
                </li>
            </ul>
        </div>
        <button type="button" class="btn btn-default" id="colorPicker"><i class="fa fa-circle"
                                                                          ng-style="{color: brushColor}"></i> Color
        </button>
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-paint-brush"></i> Tool <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li ng-class="{active: tool === 'pencil'}"><a ng-click="selectTool('pencil')"><i class="fa fa-pencil"></i> Pencil</a></li>
                <li ng-class="{active: tool === 'color_picker'}"><a ng-click="selectTool('color_picker')"><i class="fa fa-eyedropper"></i> Color Picker</a></li>
                <li ng-class="{active: tool === 'eraser'}"><a ng-click="selectTool('eraser')"><i class="fa fa-eraser"></i> Eraser</a></li>
            </ul>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-arrows-h"></i> Width <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li id="sliderItem"><slider ng-model="brushWidth" min="{{brushWidthOptions.min}}" step="{{brushWidthOptions.step}}"
                            max="{{brushWidthOptions.max}}" value="{{brushWidthOptions.value}}"/>
                </li>
            </ul>
        </div>
        <button type="button" class="btn btn-default" ng-click="clear()"><i class="fa fa-trash-o"></i> Clear</button>
        <button type="button" class="btn btn-primary" ng-click="colorize()"><img src="favicon.png" height="16"
                                                                                 width="16"></i> Colorize
        </button>
    </div>
</div>
<hr/>

<div id="srcCanvasRow" class="row">
    <canvas id="backCanvas" width="0" height="0"></canvas>
    <canvas id="srcCanvas" width="0" height="0"></canvas>
    <span us-spinner="{radius:30, width:8, length: 16}" spinner-key="colorization-spinner"></span>
</div>

<div class="row">
    <canvas id="dstCanvas" width="0" height="0"/>
</div>
