.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

#backCanvas {
  position: absolute;
  z-index: -1;
}

#spinner {
  position: relative;
}

#srcCanvas {
  z-index: 1;
}

p .fa {
  text-shadow: none;
}

#logo_link:hover {
  text-decoration: none;
}

.dropdown-menu li a {
  cursor: pointer;
}

.dropdown-menu #sliderItem {
  padding: 3px 20px;
  display: block;
  clear: both;
  font-weight: normal;
  line-height: 1.42857;
}

.spectrumContainer {
  background: $dropdown-bg;
  border: solid 1px $gray-light;
}

.spectrumContainer .sp-input {
  color: $text-color;
}

.spectrumContainer .sp-cancel {
  text-shadow: none;
  color: $text-color !important;
}

.spectrumContainer .sp-picker-container {
  border-left: solid 1px $gray-light;
}

.spectrumContainer .sp-palette-container {
  #border-right: solid 1px $gray-light;
  border-right: none;
}
